---
import MoreArticles from '../../components/MoreArticles.astro'
import BackIcon from '../../components/icons/Back.astro'
import { getDirectusClient, getAssetURL, formatDate, readItems } from '../../utils/utils'
import Layout from '../../layouts/Layout.astro'

export async function getStaticPaths() {
  const directus = getDirectusClient();

  const articles = await directus.request(
    readItems("articles", {
      fields: ["*", "user_created.avatar", "user_created.first_name", "user_created.last_name"],
      filter: { status: { _eq: "published" } },
      limit: -1,
    })
  );

  return articles.map((article) => {
    const moreArticles = articles
      .filter((a) => a.id !== article.id)
      .slice(0, 2)
      .map((a) => ({ ...a, publish_date: formatDate(a.publish_date) }));

    return {
      params: { slug: article.id.toString() },
      props: {
        article: {
          ...article,
          publish_date: formatDate(article.publish_date),
          moreArticles,
        },
      },
    };
  });
}

const { article } = Astro.props;
---

    <Layout title={article.title} meta={article.content}>
      <div class="current-article">
        <section>
          <a href="/blog" class="current-article__backlink">
            <BackIcon />
            <span>Ver todos</span>
          </a>
          <div class="container ">
            <div class="current-article__detail">
              <div class="current-article__wrapperOuter">
                <div class="current-article__wrapperInner">
                  <div class="current-article__authorImage">
                    <img src={getAssetURL(article.user_created?.avatar)} alt="" loading="lazy" />
                  </div>
                  <div>
                    <div class="current-article__authorName">
                      {`${article.user_created?.first_name} ${article.user_created?.last_name}`}
                    </div>
                    <div class="current-article__time">
                      {article.publish_date}
                    </div>
                  </div>
                </div>
              </div>
              <div class="current-article_coverImage">
                <img src={getAssetURL(article.front_img)} alt="" />
              </div>
            </div>
            <div class="current-article__body">
              <div class="current-article__bodyContent" set:html={article.content}></div>
            </div>
          </div>
        </section>
      </div>
      <MoreArticles articles={article.moreArticles} />
    </Layout>
