---
import EventCard from '../components/EventCard.astro';
import Layout from '../layouts/Layout.astro';
import { formatDate, getDirectusClient } from '../utils/utils';

const directus = await getDirectusClient()
const response = await directus.items("events").readByQuery({
  fields: ["*", "user_created", "user_created.first_name", "user_created.last_name"],
  filter: { status: { _eq: "published" } },
  sort: "-start",
})

const formattedEvents = response?.data.map((event) => {
  return {
    ...event,
	start: formatDate(event.start),
    end: formatDate(event.end)
  }
})
const [topEvent, ...otherEvents] = formattedEvents;
const meta = "Eventos da casa coração. Terapias, workshops e retiros."
const keywords = "eventos, terapias, xamanismo, workshops, retiros, casa coração"; 
---

<Layout title="Eventos" meta={meta} keywords={keywords}>
		<section class="main-content">
		  <div class="container">
			<!-- <HeroEvent event={hero} /> -->
			<div class="max-w-full mb-8">
				<EventCard event={topEvent} ></EventCard>
			</div>
			<div class="articles-grid">
			  {otherEvents.map((event, index) => (
			  <EventCard event={event}/>
			  ))}
			</div>
		  </div>
		</section>
</Layout>