---
import { getAssetURL } from '../utils/utils'
const { article, bordered } = Astro.props
---

<article class={bordered ? 'article bordered' : 'article' }>
  <div class="article__topWrapper">
    <div class="article__imageWrapper">
      <img src={getAssetURL(article.front_img)} alt="" loading="lazy" />
    </div>
    {article.topics && <span aria-hidden="true" class="tag">{article.topics?.join(" ")}</span>}
  </div>
  <div class="article__bottomWrapper">
    <h1 class="article__title">
      <a href={`/articles/${article.id}`}>
        {article.title}
      </a>
    </h1>
    <div class="article__detail">
      <div class="article__detailAuthor">
        <img src={getAssetURL(article.user_created?.avatar)} alt="" loading="lazy" />
      </div>
      <div class="article__detailInner">
        <div class="article__detailInnerAuthor">
          HML
          <!-- {`${article.user_created?.first_name} ${article.user_created?.last_name}`} -->
        </div>
        <div class="article__detailInnerTime">{article.publish_date}</div>
        {article.topics && <div class="article__detailInnerCategory">{article.topics.join(" ")}</div>}
      </div>
    </div>
  </div>
</article>