---
import BackIcon from '../../components/icons/Back.astro'
import { getDirectusClient, getAssetURL, formatDate, readItems } from '../../utils/utils'
import Layout from '../../layouts/Layout.astro'

export async function getStaticPaths() {
  const directus = getDirectusClient();

  const events = await directus.request(
    readItems("events", {
      fields: ["*", "user_created.avatar", "user_created.first_name", "user_created.last_name"],
      filter: { status: { _eq: "published" } },
      limit: -1,
    })
  );

  return events.map((event) => {
    const moreEvents = events
      .filter((e) => e.id !== event.id)
      .slice(0, 2)
      .map((e) => ({ ...e, start: formatDate(e.start), end: formatDate(e.end) }));

    return {
      params: { slug: event.id.toString() },
      props: {
        event: {
          ...event,
          start: formatDate(event.start),
          end: formatDate(event.end),
          moreEvents,
        },
      },
    };
  });
}

const { event } = Astro.props;
---

<Layout title={event.title} meta={event.description}>
    <div class="current-article">
      <section class="mb-10">
        <a href="/events" class="current-article__backlink">
          <BackIcon />
          <span>Ver todos</span>
        </a>
        <div class="container">
          <div class="current-article__detail">
            <div class="current-article_coverImage">
              <img src={getAssetURL(event.front_img)} alt="" />
            </div>
          </div>
          <h3 class="text-lg font-bold mb-2">
            De {event.start} a {event.end}
          </h3>
          <div class="current-article__body">
            <div class="current-article__bodyContent" set:html={event.description}></div>
          </div>
        </div>
      </section>
    </div>
  </Layout>
