---
import MoreArticles from '../../components/MoreArticles.astro'
import BackIcon from '../../components/icons/Back.astro'
import { getDirectusClient, getAssetURL, formatRelativeTime, locale, timeOpts } from '../../utils/utils'
import Layout from '../../layouts/Layout.astro'

export async function getStaticPaths() {
  const directus = await getDirectusClient();
  const response = await directus.items("events").readByQuery({
    fields: ["*", "user_updated.avatar", "user_created.first_name", "user_created.last_name"],
    filter: { status: { _eq: "published" } },
    limit: -1,
  })

  let events = response.data

  for (const [index, event] of Object.entries(events)) {
    const moreEventsResponse = await directus.items("events").readByQuery({
      fields: ["*", "user_created.avatar", "user_created.first_name", "user_created.last_name"],
      filter: {
        _and: [{ id: { _neq: event.id } }, { status: { _eq: "published" } }],
      },
      limit: 2,
    })

    const formattedMoreEvents = moreEventsResponse.data.map(
      (formattedMoreEvents) => {
        return {
          ...formattedMoreEvents,
          start: new Date(event.start).toLocaleString(locale, timeOpts),
          end: new Date(event.end).toLocaleString(locale, timeOpts)
        }
      }
    )

    events[index] = {
      params: { slug: event.id.toString() },
      props: {
        event: {
          ...event,
          start: new Date(event.start).toLocaleString(locale, timeOpts),
          end: new Date(event.end).toLocaleString(locale, timeOpts),
          moreEvents: formattedMoreEvents,
        }
      }
    }
  }

  return events
}
const { event } = Astro.props
---
<Layout>
    <div class="current-article">
      <section>
        <a href="/events" class="current-article__backlink">
          <BackIcon />
          <span>Ver todos</span>
        </a>
        <div class="container">
          <h1 class="current-article__title text-center">{event.title}</h1>
          <div class="current-article__detail">
            <div class="current-article__wrapperOuter">
              <div class="current-article__wrapperInner">
                <div class="current-article__authorImage">
                  <img src={getAssetURL(event.user_created?.avatar)} alt="" loading="lazy" />
                </div>
                <div>
                  <div class="current-article__authorName">
                    {`${event.user_created?.first_name} ${event.user_created?.last_name}`}
                  </div>
                  <div class="current-article__time">
                    Datas: {event.start} a {event.end}
                  </div>
                </div>
              </div>
            </div>
            <div class="current-article_coverImage">
              <img src={getAssetURL(event.front_img)} alt="" />
            </div>
          </div>
          <div class="current-article__body">
            <div class="current-article__bodyContent" set:html={event.description}></div>
            <!-- <ul class="current-article__bodySocials">
              <li>
                <a href={currentPath} target="_blank" rel="noreferrer noopener">
                  <Link />
                </a>
              </li>
              <li>
                <a href="https://t.me/+Dd4hO8FnzB00MDdk" target="_blank" rel="noreferrer noopener">
                  <Telegram />
                </a>
              </li>
            </ul> -->
          </div>
        </div>
      </section>
      <MoreArticles articles={event.moreArticles} />
    </div>
  </Layout>